<ul class="detailList">
	<li class="detailList__item">
		<a class="link" href="mailto:gernot_buettner@yahoo.com">
			<p class="text text--detail">Send a Mail</p>
		</a>
	</li>
	<li class="detailList__item">
		<a class="link" href="https://github.com/GernotBuettner" target="_blank">
			<p class="text text--detail">Github</p>
		</a>
	</li>
</ul>