
/* PRINT STYLES */
@media print {
	.body {
		page-break-after: avoid;
		page-break-before: avoid;
	}


	.section--cv {
		display: block;
		page-break-before: avoid;
		page-break-after: auto;
		page-break-inside: avoid;
	}

	.section--person {
		position: static;
		page-break-before: avoid;
		page-break-after: auto;
	}

	.main__container {
		border-left: none;
	}


	.text,
	.text--alternate1,
	.text--alterante2,
	.section .detailList__item:not(:last-of-type)::after,
	.list__item {
		font-size: 9pt;
		line-height: 15pt;
	}

	.text--highlight {
		font-size: 29pt;
		line-height: 41pt;
	}

	.text--highlightAlternate {
		font-size: 18pt;
		line-height: 20pt;
	}

	.text--detail,
	.text--detailAlternate {
		font-size: 9pt;
		line-height: 15pt;
	}

	.detailList {
		flex-direction: row;
	}

	.detailList + .text {
		margin-top: 5pt;
	}

	.experience {
		margin-left: var(--base2);
	}

	.experience  + .experience {
		margin-top: 30pt;
		padding-top: 30pt;
		border-top: solid black 0.75pt;
	}

	.section--music .experience  + .experience,
	.section--education .experience + .experience {
		margin-top: 10pt;
		padding-top: 10pt;
		border-top: solid black 0.75pt;
	}


	.section + .section {
		margin-top: 50pt;
	}

	.section--person + .section--cv  {
		margin-top: 30pt;
	}


	.experience__intro + .experience__content {
		margin-top: 15pt;
	}

	.experience__footer {
		margin-top: 15pt;
	}

	.experienceList__detail + .experienceList__term {
		margin-top: 10pt;
	}

	.detailList__item:not(:last-of-type) {
		margin-right: 5pt;
	}

	.section--cv .detailList__item:not(:last-of-type) .text::after {
		content: '|';
		display: inline-block;
		margin-left: 5pt;
		font-size: 9pt;
		line-height: 15pt;
	}
}
