<header class="header">
	<div class="header__buttons">
		{# <button class="button button--mode"></button> #}
		<button class="button button--menu" data-selector="menuButton"></button>
	</div>
</header>