<div class="menu" data-component="menu">
	<div class="menu__content">
		<ul class="menu__list">
			{% for item in menu_items %}
				<li class="menu__item">
					<a class="menu__link" href="#{{ item.name|lower }}" data-selector="menuLink">
						<span class="menu__text">{{ item.name }}</span>
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>