/* VARIABLES */
:root {
	--baseHalf: 0.5rem;
	--base1: 1rem;
	--base2: 2rem;
	--base3: 3rem;
	--base4: 4rem;
	--base5: 5rem;
	--base6: 6rem;
	--base7: 7rem;
	--base8: 8rem;
	--base9: 9rem;
	--fontFamilyMain: 'Soehne Buch';
	--fontFamilyAlternate1: 'Soehne Halbfett';
	--fontFamilyAlternate2: 'Soehne Buch Italic';
	--basicColumns: repeat(7, 1fr);
	--breakpointMedium: 768px;
}


/* CONFIGURATIONS */
@font-face {
	font-family: 'Soehne Halbfett';
	src:
		url('./assets/fonts/soehne-web-halbfett.woff2') format('woff2');
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: 'Soehne Buch';
	src:
		url('./assets/fonts/soehne-web-buch.woff2') format('woff2');
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: 'Soehne Buch Italic';
	src:
		url('./assets/fonts/soehne-web-buch-kursiv.woff2') format('woff2');
	font-style: normal;
	font-weight: bold;
}
