@mixin headlineBar() {
	background-color: var(--base-background-color);
	border-top: solid 1px var(--border-color);
	border-bottom: solid 1px var(--border-color);
	padding-top: $base2 + $baseHalf;
	padding-bottom: $base2 + $baseHalf;
	height: pxToRem(79.8);
	position: relative;

	@include media($mediumLayout) {
		border-radius: $base1;
		padding-top: $base2;
		padding-bottom: $base2;
	}
}