.body {
	@include font(base);
	position: static;
	overflow-x: hidden;
	overflow-y: scroll;

	&.js-has-opened-menu {
		position: fixed;
		overflow-y: scroll;
		top: var(--scroll-top, 0);
  		inline-size: 100%;
	}
}
