$cursorDimension: pxToRem(20);

.custom-cursor {
	pointer-events: none;
	display: none;

	@include media($mediumLayout) {
		border-radius: $cursorDimension;
		background-color: var(--base-color);
		display: none;
		position: fixed;
		transform: translate(-50%, -50%);
		top: 0;
		left: 0;
		height: $cursorDimension;
		width: $cursorDimension;
		z-index: $custom-cursor-z-index;
		mix-blend-mode: difference;
	}
}