.header {
	display: flex;
	flex-direction: column;
	margin-top: $base4;

	&__content {
		display: flex;
		justify-content: space-between;
	}

	&__headline {
		@include font(teaserHeadline);
	}

	&__buttons {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
