.main {
	max-width: $layoutMaxWidht;
	margin-top: $headerTopSpacingMobile;
	margin-left: auto;
	margin-right: auto;
	padding-left: $layoutMarginGapMobile;
	padding-right: $layoutMarginGapMobile;
	position: relative;

	@include media($mediumLayout) {
		padding-left: $layoutMarginGapDesktop;
		padding-right: $layoutMarginGapDesktop;
	}

	&__intro {
		padding-top: -$baseHalf;
		padding-bottom: $base4;
	}

	&__headline {
		@include font(teaserHeadline);

		&--name {
			margin-bottom: $base2;
			white-space: nowrap;
		}
	}
}
