.main {
	max-width: $layoutMaxWidht;
	margin-top: $headerTopSpacingMobile;
	margin-left: auto;
	margin-right: auto;
	padding-left: $layoutMarginGapMobile;
	padding-right: $layoutMarginGapMobile;
	position: relative;

	@include media($mediumLayout) {
		padding-left: $layoutMarginGapDesktop;
		padding-right: $layoutMarginGapDesktop;
	}

	&__intro {
		padding-bottom: $base4;
		height: 100vh;
	}

	&__animatedHeadline {
		position: relative;
		overflow: hidden;
	}

	&__filter {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
	}

	&__headline {
		&--name {
			@include font(teaserHeadline);
			margin-bottom: $base2;
			white-space: nowrap;
		}

		&--title {
			@include font(headlineHighlighted);
		}
	}
}
