.project {

	& + & {
		margin-top: $base6;
	}

	&__headline {
		@include font(subHeadline);
		margin-top: $base6;

		@include media($mediumLayout) {
			margin-top: 0;
		}
	}

	&--music &__headline {
		@include headlineBar();
		margin-top: 0;
	}

	&__link {
		@include link();
		display: block;
	}

	&--music &__link {
		text-decoration: none;
		@include arrowIcon();
	}

	&__text {
		margin-top: $base2;
		// max-width: staticColumnSize(8, 12, $gapSmall);
	}

	&--music &__headline-text {
		@include font(headline);
	}

	&--music &__meta {
		margin-top: $base2;
		display: flex;
		justify-content: space-between;

		@include media($mediumLayout) {
			margin-top: $base4;
			display: flex;
			width: 100%;
		}
	}

	&--music &__detail {
		@include font(detail);
		color: var(--base-text-color);
	}
}