.section {
	position: relative;


	&--column {
		@include media($mediumLayout) {
			display: flex;
		}
	}

	&__title {
		@include font(headlineHighlighted);
		@include headlineBar();
		position: sticky;
		top: 0;
		z-index: $sectionHeadlineIndex;

		@include media($mediumLayout) {
			position: static;
			margin-right: $gapSmall;
			width: staticColumnSize(4, 12, $gapSmall, -$gapSmall);
			flex-grow: 0;
			flex-shrink: 0;
		}

		&::after {
			content: '';
			position: absolute;
			width: $layoutMarginGapMobile;
			background-color: var(--base-background-color);
			height: 100%;
			top: 0;
			right: 0;
			transform: translateX(100%);

			@include media($mediumLayout) {
				display: none;
			}
		}
	}

	&__content {
		z-index: $baseIndex;

		@include media($mediumLayout) {
			width: staticColumnSize(8, 12, $gapSmall);
		}

		.section--skills & {
			margin-top: $base4;
			width: staticColumnSize(12, 12, $gapSmall);
		}

	}
}