.section {
	position: relative;

	&--column {
		@include media($mediumLayout) {
			display: flex;
		}
	}

	&__title {
		@include font(headlineHighlighted);
		@include headlineBar();
		position: sticky;
		top: 0;
		z-index: 1;

		@include media($mediumLayout) {
			margin-right: $gapSmall;
			width: staticColumnSize(4, 12, $gapSmall);
		}

		&::after {
			content: '';
			position: absolute;
			width: $layoutMarginGapMobile;
			background-color: var(--base-background-color);
			height: 100%;
			top: 0;
			right: 0;
			transform: translateX(100%);

			@include media($mediumLayout) {
				display: none;
			}
		}
	}

	&__content {
		z-index: 0;

		@include media($mediumLayout) {
			width: staticColumnSize(10, 12, $gapSmall);
		}

	}
}