.section {
	& + & {
		margin-top: var(--base5);
	}

	&--cv {
		position: relative;
		z-index: 1;

		@media (min-width: 768px) {
			display: grid;
			grid-template-columns: var(--basicColumns);
			gap: var(--base1);
			grid-auto-rows: minmax(100vh, auto);
		}
	}

	&--person {
		z-index: 2;
		pointer-events: none;

		@media (min-width: var(--breakpointMedium)) {
			position: sticky;
			top: var(--base4);
		}
	}

	&--person + &--cv  {
		margin-top: var(--base6);
	}

	&__content {
		&--details {
			@media (min-width: var(--breakpointMedium)) {
				grid-column: 1 / 4;
			}
		}

		&--details {
			@media (min-width: var(--breakpointMedium)) {
				grid-column: 4 / 8;
			}
		}
	}

}
