{% macro musicProjectComponent( music_project ) %}
	<div class="project project--music">
		<div class="project__headline">
			{% if music_project.link %}
				<a class="project__link" href="{{ music_project.link }}">
			{% endif %}
				<h4 class="project__headline-text">{{ music_project.name }}</h4>
			{% if music_project.link %}
				</a>
			{% endif %}
		</div>
		<div class="project__meta">
			<p class="project__detail">{{ music_project.type }} / {{ music_project.role }}</p>
			<p class="project__detail">{{ music_project.timeframe }}</p>
		</div>
		<div class="project__text ugc">{{ music_project.description | safe }}</div>
		{% if music_project.image %}
			{# TODO: Image #}
		{% endif %}

		{% if music_project.videos %}
			{# TODO: Youtube/Vimeo Embed #}
		{% endif %}
	</div>
{% endmacro %}