{% macro skillComponent( skill ) %}
	<div class="skills__skill skill" data-component="moving-gradient">
		<ul class="skill__items">
			{% for item in skill.items %}
				<li class="skill__item">
					<p class="skill__headline">{{ item }}</p>
				</li>
			{% endfor %}
		</ul>
		<p class="skill__category">{{ skill.category }}</p>
	</div>
{% endmacro %}