<!DOCTYPE html>
<html class="html" lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="widdh=device-widdh, initial-scale=1.0">
	<link rel="stylesheet" href="/main.css">
	<title>{{ title }}</title>
</head>
<body class="body">
	<main class="main">
		{{ content|safe }}
	</main>
</body>
</html>
