@mixin arrowIcon($orientation: right, $color: --base-color) {
	position: relative;

	&::after {
		content: '';
		background: var($color);
		width: $base6;
		height: pxToRem(3);
		position: absolute;
		bottom: $base1;

		@if $orientation == right {
			right: 0;
		}

		@if $orientation == left {
			left: 0;
		}

	}

	&::before {
		content: '';
		background: var($color);
		width: $base3;
		height: pxToRem(3);
		position: absolute;
		bottom: pxToRem(11);

		@if $orientation == right {
			right: pxToRem(1.8);
			transform-origin: right bottom;
			transform: rotate(45deg);
		}

		@if $orientation == left {
			left: pxToRem(1.8);
			transform-origin: left bottom;
			transform: rotate(-45deg);		}
	}
}
