---
layout: layouts/base.njk
title: Gernot Büttner
---

{% block content %}
	<div class="main__container">
		<section class="section section--person">
			<h1 class="text text--highlight">Gernot Büttner</h1>
			<h2 class="text text--highlightAlternate">Web Developer</h2>

			{% include "detail-list.njk" %}

			<nav class="nav">
				<ul class="detailList detailList--nav">
					<li class="detailList__item">
						<a class="link" href="#skills">
							<p class="text text--detail">Technical Skill Set</p>
						</a>
					</li>
					<li class="detailList__item">
						<a class="link" href="#experience">
							<p class="text text--detail">Experience</p>
						</a>
					</li>
					<li class="detailList__item">
						<a class="link" href="#education">
							<p class="text text--detail">Education</p>
						</a>
					</li>
					<li class="detailList__item">
						<a class="link" href="#music">
							<p class="text text--detail">Music</p>
						</a>
					</li>
				</ul>
			</nav>
		</section>
		<section class="section section--cv">
			<div class="section__content section__content--details">
			</div>
			<div class="section__content section__content--description">
				<q class="text text--alternate1">
					A Frontend focused developer with Web Development experience, working on minimalist design-driven websites and configurators with close collaboration of developers, designers, and clients to create a better web experience. Developing under rules and concepts like usability, accessibility, reusability, simplification, mobile first, single responsibility & freedom of dependency 
				</q>
			</div>
		</section>
		<section class="section section--cv">
			<span class="anchor" id="skills"></span>
			<div class="section__content section__content--details"></div>
			<div class="section__content section__content--description">
				<h2 class="text text--highlightAlternate">Technical Skill Set</h2>
				<div class="skills">
					<h3 class="text text--alternate2">Code</h3>
					<ul class="detailList">
						<li class="detailList__item">
							<p class="text">Javascript</p>
						</li>
						<li class="detailList__item">
							<p class="text">Typescript</p>
						</li>
						<li class="detailList__item">
							<p class="text">PHP</p>
						</li>
						<li class="detailList__item">
							<p class="text">Python</p>
						</li>
						<li class="detailList__item">
							<p class="text">HTML & CSS</p>
						</li>
						<li class="detailList__item">
							<p class="text">XML</p>
						</li>
					</ul>
					<h3 class="text text--alternate2">Frameworks, DB & Lib's</h3>
					<ul class="detailList">
						<li class="detailList__item">
							<p class="text">Angular</p>
						</li>
						<li class="detailList__item">
							<p class="text">React</p>
						</li>
						<li class="detailList__item">
							<p class="text">MYSQL</p>
						</li>
						<li class="detailList__item">
							<p class="text">Sass & Scss</p>
						</li>
						<li class="detailList__item">
							<p class="text">GSAP</p>
						</li>
						<li class="detailList__item">
							<p class="text">Git</p>
						</li>
						<li class="detailList__item">
							<p class="text">Node & NPM</p>
						</li>
						<li class="detailList__item">
							<p class="text">Webpack</p>
						</li>
					</ul>
					<h3 class="text text--alternate2">Operating Systems</h3>
					<ul class="detailList">
						<li class="detailList__item">
							<p class="text">Linux Fedora</p>
						</li>
						<li class="detailList__item">
							<p class="text">Linux Ubuntu</p>
						</li>
						<li class="detailList__item">
							<p class="text">OSX</p>
						</li>
					</ul>
					<h3 class="text text--alternate2">Tools</h3>
					<ul class="detailList">
						<li class="detailList__item">
							<p class="text">Github</p>
						</li>
						<li class="detailList__item">
							<p class="text">Kirby CMS</p>
						</li>
						<li class="detailList__item">
							<p class="text">Django CMS</p>
						</li>
						<li class="detailList__item">
							<p class="text">Browserstack</p>
						</li>
						<li class="detailList__item">
							<p class="text">Patternlab</p>
						</li>
						<li class="detailList__item">
							<p class="text">Storybook</p>
						</li>
						<li class="detailList__item">
							<p class="text">Zendesk</p>
						</li>
						<li class="detailList__item">
							<p class="text">Emarsys</p>
						</li>
						<li class="detailList__item">
							<p class="text">Matomo</p>
						</li>
					</ul>
					<h3 class="text text--alternate2">Processes</h3>
					<ul class="detailList">
						<li class="detailList__item">
							<p class="text">Code Reviews</p>
						</li>
						<li class="detailList__item">
							<p class="text">RFC creations & reviews</p>
						</li>
						<li class="detailList__item">
							<p class="text">Agile Sprint Cycles</p>
						</li>
					</ul>
					<h3 class="text text--alternate2">Languages</h3>
					<ul class="detailList">
						<li class="detailList__item">
							<p class="text">German (nativ)</p>
						</li>
						<li class="detailList__item">
							<p class="text">English (professional)</p>
						</li>
						<li class="detailList__item">
							<p class="text">French (beginner)</p>
						</li>
					</ul>
				</div>
			</div>
		</section>
		<section class="section section--cv">
			<span class="anchor" id="experience"></span>
			<div class="section__content section__content--details">
			</div>
			<div class="section__content section__content--description">
				<h2 class="text text--highlightAlternate">Experience</h2>
				<div class="experience">
					<span class="experience__detail">
						<p class="text text--detail">2021 - Present / </p>
						<a class="link" href="https://www.ableton.com/" target="_blank">
							<p class="text text--detail"> Ableton </p>
						</a>
					</span>
					<div class="experience__intro ugc">
						<h3 class="text text--alternate2">Frontend Developer</h3>
						<p class="text text--detailAlternate">
							At Ableton I am part of the Customer Experience Unit in the Product Communications team, which focuses on developing and improving product tours, blog articles, and learning materials. I am also an active member of the Web Accessibility Working Group, which works on improving the accessibility of the website and domain.
						</p>
					</div>
					<div class="experience__content">
						<dl>
							<dt class="experienceList__term">
								<a class="link" href="https://www.ableton.com/" target="_blank">
									<p class="text text--alternate2">
										Ableton.com
									</p>
								</a>
							</dt>
							<dd class="experienceList__detail">
								<p class="text">
									Constant improvement of product tours and components with a focus on usability and accessibility.</br>
									</br>
									Creation of new WebComponents and documentation.</br>
									</br>
									Refactoring of Django HTML Templates into WebComponents, transformation of legacy Javascript function into OOP Classes and SASS legacy styles into SCSS utility classes and BEM blocks.</br>
									</br>
									Implementation of NPS Survey components into Emarsys with communication to Zendesk.</br>
									</br>
									Conception and implementation of AB test scenarios
								</p>
							</dd>
						</dl>
					</div>
				</div>
				<div class="experience">
					<span class="experience__detail">
						<p class="text text--detail">2018 - 2021 / </p>
						<a class="link" href="http://cdlx.de" target="_blank">
							<p class="text text--detail"> CDLX - Berlin</p>
						</a>
					</span>
					<div class="experience__intro ugc">
						<h3 class="text text--alternate2">Fullstack Developer</h3>
						<p class="text text--detailAlternate">
							My job in CDLX included the development and exchange of ideas for digital products and services.
							That gave me the opportunity to work closely with designers and clients to produce high quality websites and configurators.
						</p>
					</div>
					<div class="experience__content">
						<dl>
							<dt class="experienceList__term">
								<a class="link" href="https://thenew.institute" target="_blank">
									<p class="text text--alternate2">
										The New Institute
									</p>
								</a>
							</dt>
							<dd class="experienceList__detail">
								<p class="text">Implementation of the Layout concept and development of components like main navigation, collapsables items, videos, images, etc.</p>
							</dd>
							<dt class="experienceList__term">
								<a class="link" href="https://www.kunstfonds.de/" target="_blank">
									<p class="text text--alternate2">
										Stiftung Kunstfonds
									</p>
								</a>
							</dt>
							<dd class="experienceList__detail">
								<p class="text">Development of the website, including the implementation of the UI/UX principles. creation of a search API to search, sort, and filter art pieces from their catalog.</p>
							</dd>
							<dt class="experienceList__term">
								<a class="link" href="https://www.uni-bielefeld.de/" target="_blank">
									<p class="text text--alternate2">
										University of Bielefeld
									</p>
								</a>
							</dt>
							<dd class="experienceList__detail">
								<p class="text"> Creation of templates and styling for the integration into Roxen with maintainance, extensions and long term client support with high focus on accessibility.</p>
							</dd>
							<dt class="experienceList__term">
								<p class="text text--alternate2">
									Hans Grohe
								</p>
							</dt>
							<dd class="experienceList__detail">
								<p class="text">
									Creating reusable Angular components for an internal research app in connection with REST API for PIM and asset management. Agile workflow with dailies, refinements, plannings & review/retros.
								</p>
							</dd>
							<dt class="experienceList__term">
								<p class="text text--alternate2">
									Isipedia Climate Institute, Potsdam
								</p>

							</dt>
							<dd class="experienceList__detail">
								<p class="text">
									I participated in the creation of the website and the Frontend part for the configurator which allow scientist to climate-impacts assessments reports. (*<a href="https://www.ddc.de/de/wettbewerb/gute-gestaltung-2019/interactive/isipedia-the-open-climate-impacts-encyclopedia.php" class="link" target="_blank">DDC award</a>)
								</p>
							</dd>
							<dt class="experienceList__term">
								<p class="text text--alternate2">
									VG Bildkunst & Bund Bildender Künstler
								</p>

							</dt>
							<dd class="experienceList__detail">
								<p class="text">
									Frontend implementation of an internal form generator app for VG Bildkunst.
								</p>
							</dd>
							<dt class="experienceList__term">
								<a class="link" href="https://www.selux.com/lookbook/aira-de_ger/" target="_blank">
									<p class="text text--alternate2">
										Selux
									</p>
								</a>
							</dt>
							<dd class="experienceList__detail">
								<p class="text">
									Planning and execution of a lightning concept for product photo shooting.
								</p>
							</dd>
						</dl>
					</div>
				</div>
				<div class="experience">
					<span class="experience__detail">
						<p class="text text--detail">2017 - 2018 / </p>
						<a  class="link" href="http://cdlx.de" target="_blank">
							<p class="text text--detail"> CDLX - Berlin</p>
						</a>						</span>
					<div class="experience__intro">
						<h3 class="text text--alternate2">Junior Frontend Developer</h3>
					</div>
					<div class="experience__content">
						<dl class="experienceList">
							<dt class="experienceList__term">
								<a class="link" href="https://www.weizenbaum-institut.de/" target="_blank">
									<p class="text text--alternate2">
										Weizenbaum Institute
									</p>
								</a>
							</dt>
							<dd class="experienceList__detail">
								<p class="text">
									Maintainance and creation of templates for implementation into Typo3. Implementation of the publication search section in connection with the Zotero API.
								</p>
							</dd>
							<dt class="experienceList__term">
								<a class="link" href="https://land-der-ideen.de/" target="_blank">
									<p class="text text--alternate2">
										Land der Ideen
									</p>
								</a>
							</dt>
							<dd class="experienceList__detail">
								<p class="text">Implementation  and maintenance of components for campaigns.</p>
							</dd>
							<dt class="experienceList__term">
								<a class="link" href="https://waald.com/" target="_blank">
									<p class="text text--alternate2">
										Waald
									</p>
								</a>
							</dt>
							<dd class="experienceList__detail">
								<p class="text">
									Implementation of the layout concept and development of the website.
								</p>
							</dd>
							<dt class="experienceList__term">
								<p class="text text--alternate2">
									Other Clients
								</p>

							</dt>
							<dd class="experienceList__detail">
								<ul class="detailList detailList--alternate">
									<li class="detailList__item">
										<p class="text">Ridi (internal)</p>
									</li>
									<li class="detailList__item">
										<a href="https://esrlabs.com/" target="_blank">
											<p class="text">ESR Lab</p>
										</a>
									</li>

									<li class="detailList__item">
										<a href="https://wirklichweiterkommen.de/" target="_blank">
											<p class="text">Hochschulen Sachsen-Anhalt</p>
										</a>
									</li>
									<li class="detailList__item">
										<a href="https://bdi.eu/" target="_blank">
											<p class="text">Bundesverband der Deutschen Industrie e.V.</p>
										</a>
									</li>
									<li class="detailList__item">
										<a href="https://www.nordenhake.com/" target="_blank">
											<p class="text">Gallerie Nordenhake</p>
										</a>
									</li>
									<li class="detailList__item">
										<a href="http://diculta.com/" target="_blank">
											<p class="text">Diculta</p>
										</a>
									</li>
								</ul>
							</dd>
						</dl>
						<div class="experience__footer">
							<h4 class="text text--detail">
								* If not further specified, projects were developed in PHP with customized Kirby CMS, HTML, Javascript, SCSS using BEM structure & GIT for distribution.
							</h4>
						</div>
					</div>
				</div>
				<div class="experience">
					<span class="experience__detail">
						<p class="text text--detail">2007 - 2017 / </p>
						<p class="text text--detail">Several Positions in Frankfurt Main and Berlin</p>
					</span>
					<div class="experience__intro">
						<h3 class="text text--alternate2">Professional Chef</h3>
					</div>

				</div>

			</div>
		</section>
		<section class="section section--cv section--education">
			<span class="anchor" id="education"></span>
			<div class="section__content section__content--details">
			</div>
			<div class="section__content section__content--description">
				<h2 class="text text--highlightAlternate">Education</h2>

				<div class="experience">
					<span class="experience__detail">
						<p class="text text--detail">2004 - 2007 / </p>
						<p class="text text--detail">Zeitz</p>
					</span>
					<div class="experience__intro">
						<h3 class="text text--alternate2">Professional Training as Chef </h3>
					</div>

				</div>
				<div class="experience">
					<span class="experience__detail">
						<p class="text text--detail">1996 - 2003 / </p>
						<p class="text text--detail">"Schule am Schwanenteich" Zeitz</p>
					</span>
					<div class="experience__intro">
						<h3 class="text text--alternate2">Secondary school diploma</h3>
					</div>

				</div>

			</div>
		</section>
		<section class="section section--cv section--music">
			<span class="anchor" id="music"></span>
			<div class="section__content section__content--details">
			</div>
			<div class="section__content section__content--description">
				<h2 class="text text--highlightAlternate">Music</h2>

				<div class="experience">
					<span class="experience__detail">
						<p class="text text--detail">Education</p>
					</span>
					<div class="experience__intro">
						<h3 class="text text--alternate2">Classical Piano</h3>
					</div>
				</div>

				<div class="experience">
					<span class="experience__detail">
						<p class="text text--detail">Education</p>
					</span>
					<div class="experience__intro">
						<h3 class="text text--alternate2">Electric Guitar</h3>
					</div>
				</div>

				<div class="experience">
					<span class="experience__detail">
						<p class="text text--detail">Education</p>
					</span>
					<div class="experience__intro">
						<h3 class="text text--alternate2">Vocals</h3>
					</div>
				</div>

				<div class="experience">
					<span class="experience__detail">
						<p class="text text--detail">Education</p>
					</span>
					<div class="experience__intro">
						<h3 class="text text--alternate2">Drums</h3>
					</div>
				</div>

				<div class="experience">
					<span class="experience__detail">
						<p class="text text--detail">Education</p>
					</span>
					<div class="experience__intro">
						<h3 class="text text--alternate2">Music Theory and Soundproduction</h3>
					</div>
				</div>
				<div class="experience">
					<span class="experience__detail">
						<p class="text text--detail">Projects & Works</p>
					</span>
					<div class="experience__intro">
						<a class="link" href="https://soundcloud.com/ailamfa" target="_blank">
							<h3 class="text text--alternate2">
								AILAMFA - compositions & performance
							</h3>
						</a>
					</div>
				</div>
				<div class="experience">
					<span class="experience__detail">
						<p class="text text--detail">Projects & Works</p>
					</span>
					<div class="experience__intro">
						<a class="link" href="https://www.youtube.com/watch?v=NTnk5gGUQQo" target="_blank">
							<h3 class="text text--alternate2">
								ABANAMAT - Rhythm Guitar, Composition, Mix & Master
							</h3>
						</a>
					</div>
				</div>
				<div class="experience">
					<span class="experience__detail">
						<p class="text text--detail">Projects & Works</p>
					</span>
					<div class="experience__intro">
						<a class="link" href="https://vimeo.com/340436675" target="_blank">
							<h3 class="text text--alternate2">
								XIO - Trailer composition & performance
							</h3>
						</a>
					</div>
				</div>
				<div class="experience">
					<span class="experience__detail">
						<p class="text text--detail">Projects & Works</p>
					</span>
					<div class="experience__intro">
						<h3 class="text text--alternate2">
							"Kosmonautensehnsucht" sound recording for Movie
						</h3>
					</div>
				</div>

				<div class="experience">
					<span class="experience__detail">
						<p class="text text--detail">Projects & Works</p>
					</span>
					<div class="experience__intro">
						<h3 class="text text--alternate2">
							"Partition for a construction site" performance with Renaud Vincent
						</h3>

					</div>
				</div>
			</div>
		</section>
	</div>
{% endblock %}