---
layout: layouts/base.njk
title: "Gernot Büttner Web Development & Music"
---

{% from 'macros/_job.njk' import jobComponent %}
{% from 'macros/_skill.njk' import skillComponent %}

{% block content %}
	<section class="section section--column" id="experiences">
		<h2 class="section__title">Experiences</h2>
		<div class="section__content">
			{% for job in jobs %}
				{{ jobComponent( job ) }}
			{% endfor %}

		</div>
	</section>

	<section class="section section--skills" id="skills">
		<h2 class="section__title">Skills</h2>
		<div class="section__content">
			<div class="skills">
				{% for skill in skills %}
					{{ skillComponent( skill ) }}
				{% endfor %}
			</div>
		</div>
	</section>
{% endblock %}