// https://color-name-generator.com/

$black: #000000;
$nero: #262626;
$cloud: #e3f0f0;
$beluga: #bdbebe;
$platinumGranite: #817e7e;


/* VARIABLES */
:root {
	--base-background-color: #{$black};
	--base-color: #{$cloud};
	--base-text-color: #{$beluga};
	--border-color: #{$platinumGranite};

}

@media (prefers-color-scheme: dark) {
	:root {
		--base-background-color: #{$cloud};
		--base-color: #{$black};
		--base-text-color: #{$nero};
		--border-color: #{$platinumGranite};
	}
}