// https://color-name-generator.com/

$black: #000000;
$nero: #262626;
$cloud: #e3f0f0;
$beluga: #bdbebe;
$platinumGranite: #817e7e;


/* VARIABLES */
@media (prefers-color-scheme: dark) {
	:root {
		--base-background-color: #{$black};
		--base-background-color-inverted: #{$cloud};
		--base-color: #{$cloud};
		--base-color-inverted: #{$black};
		--base-text-color: #{$beluga};
		--border-color: #{$platinumGranite};

	}
}

@media (prefers-color-scheme: light) {
	:root {
		--base-background-color: #{$cloud};
		--base-background-color-inverted: #{$black};
		--base-color: #{$black};
		--base-color-inverted: #{$cloud};
		--base-text-color: #{$nero};
		--border-color: #{$platinumGranite};
	}
}

.html:not(.html--light) {
	--base-background-color: #{$black};
	--base-background-color-inverted: #{$cloud};
	--base-color: #{$cloud};
	--base-color-inverted: #{$black};
	--base-text-color: #{$beluga};
	--border-color: #{$platinumGranite};
}

.html.html--light {
	--base-background-color: #{$cloud};
	--base-background-color-inverted: #{$black};
	--base-color: #{$black};
	--base-color-inverted: #{$cloud};
	--base-text-color: #{$nero};
	--border-color: #{$platinumGranite};
}
