
/* VARIABLES */
$baseHalf: 0.5rem;
$base1: 1rem;
$base2: 2rem;
$base3: 3rem;
$base4: 4rem;
$base5: 5rem;
$base6: 6rem;
$base7: 7rem;
$base8: 8rem;
$base9: 9rem;


$basicColumns: repeat(7, 1fr);

$layoutMaxWidht: 1600px;
$layoutGridColumns: 12;
$layoutMarginGapMobile: $base2;
$layoutMarginGapDesktop: $base4;
$gapSmall: $base2;

$headerTopSpacingMobile: $base2;
$headerBottomSpacingMobile: $base2;
$headerHeight: $base4 + $headerTopSpacingMobile + $headerBottomSpacingMobile;

$menuBarHeight: pxToRem(3);