$baseIndex: 0;
$aboveIndex: 1;
$belowIndex: -1;

$customCursorIndex: 6;
$headerIndex: 5;
$menuIndex: 4;
$sectionHeadlineIndex: 2;
$mainHeadlineIndex: 2;
$skillTextIndex: 1;
$skillGradientIndex: $baseIndex;